    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded " ng-controller="LoginController">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/logo.jpg" width="40px" height="40px" alt="LMS">LMS</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0 ">
                <li class="nav-item active">
                    <a class="nav-link" href="#/userpage">Home <span class="sr-only">(current)</span></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#/userpage">Holidays <span class="sr-only">(current)</span></a>
                </li>
                 <li class="nav-item" ng-show="LOGGED_IN_USER">
                    <a class="nav-link" href="#">Apply Leave <span class="sr-only">(current)</span></a>
                </li>
                
                
              
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="LOGGED_IN_USER" style="">  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{LOGGED_IN_USER.useremail}}
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ng-controller="LoginController">
                        <a class="dropdown-item" href="#">Change</a>
                        <a class="dropdown-item" ng-click="logout()">Logout</a>
                    </div>
                </li></ul>
        </div>
    </nav>