<link rel="stylesheet" type="text/css" href="css/login.css">
<main class="container">
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Add Employee</h2>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="email" name="email" class="form-control" required id="Username" placeholder="Email" ng-model="email">
            </div>
            <br>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="password" name="password" class="form-control" required id="Password" placeholder="Password" ng-model="password">
            </div>
            <br>
            <br>
            <input type="submit" value="Add Employee" class="btn btn-lg btn-primary btn-block">
        </form>
    </div>
</main>
