<nav style="padding-top:70px" class="breadcrumb">
  <a class="breadcrumb-item" href="#/">Home</a>
  <span class="breadcrumb-item active">Add Leave Policy</span>
</nav>
<main class="container" style="padding-top: 30px;"
	ng-controller="LeavePolicyController">
<div>
	<h2>Update Leave Policy</h2>
	<table class="table table-hover">
		<thead class="thead-inverse">
			<th>Sno</th>
			<th>Role Name</th>
			<th>Leave Type</th>
			<th>No of Days</th>
			<th>Update Leave Policy</th>
		</thead>
		<tr ng-repeat="leavepolicy in leavepolicies">
			<td>{{index+1}}</td>
			<td>{{leavepolicy.role_name}}</td>
			<td>{{leavepolicy.type_name}}</td>
			<td>{{leavepolicy.no_of_days}}</td>
			<td><button type="button" class="btn btn-success">Update
					Leave Policy</button></td>
		</tr>
	</table>
</div>
</main>
