    <main class="container" style="padding-top: 100px;">
        <div>
            <h2>My Team</h2>
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <th>Sno</th>
                    <th>Employee Name</th>
                    <th>Employee Designation</th>
                    <th>Date applied</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Reason</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </thead>
                <tr>
                    <td>1</td>
                    <td>Ragavan</td>
                    <td>Software Engineer</td>
                    <td>Monday</td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>Diwali</td>
                    <td>12/03/2017</td>
                    <td>Tuesday</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Christmas</td>
                    <td>12/12/2017</td>
                    <td>Saturday</td>
                </tr>
            </table>
        </div>
    </main>
