    <main class="container" style="padding-top: 100px;" ng-controller="LeaveController" ng-init="getempleavebymanagerid(LOGGED_IN_USER.userid)">
        <div>
            <h2>My Team</h2>
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <th>Sno</th>
                    <th>Employee Name</th>
                    <th>Employee Designation</th>
                    <th>Date applied</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Reason</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </thead>
                 <tr ng-repeat="leavedetail in leavedetails">
                  	<td>{{index+1}}</td>
                    <td>{{leavedetail.EMP_NAME}}</td>
                    <td>{{leavedetail.ROLE_NAME}}</td>
                    <td>{{leavedetail.APPLIED_DATE}}</td>
                    <td>{{leavedetail.FROM_DATE}}</td>
					<td>{{leavedetail.TO_DATE}}</td>
					<td>{{leavedetail.REASON}}</td>
					<td> <button type="button"  class="btn btn-success">Approve Leave</button></td>
					<td><button type="button"  class="btn btn-danger">Reject Leave</button></td>
                </tr>
            </table>
        </div>
    </main>
