<nav style="padding-top:70px" class="breadcrumb">
  <a class="breadcrumb-item" href="#/">Home</a>
  <span class="breadcrumb-item active">View Employees</span>
</nav>
<main class="container" style="padding-top: 30px;"
	ng-controller="EmployeeController" ng-init="viewallemployees()">
<div>
	<h2>Leave history</h2>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group add-on">
				<input class="form-control" placeholder="Search"
					ng-model="searchKeyword" name="srch-term" id="srch-term"
					type="text">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<i class="fa fa-search" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
			</div>
			<div class="dropdown col-md-2">
				<button class="btn btn-secondary" type="button"
					id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					Sort By <i class="fa fa-sort" aria-hidden="true"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="" ng-click="predicate = 'name'">Name</a>
					<a class="dropdown-item" href="" ng-click="predicate = 'joining_date'">Joining Date</a>
				</div>
			</div>

		</div>
	<table class="table table-hover">
		<thead class="thead-inverse">
			<th>Sno</th>
			<th>Employee Name</th>
			<th>Role</th>
			<th>Department</th>
			<th>Manager Name</th>
			<th>Joining Date</th>
			<th>Update Employee</th>
		</thead>
		<tr
			ng-repeat="employee in employees | filter: searchKeyword | orderBy: predicate">
			<td>{{index+1}}</td>
			<td>{{employee.name}}</td>
			<td>{{employee.roleName}}</td>
			<td>{{employee.deptName}}</td>
			<td>{{employee.managerName}}</td>
			<td>{{employee.joining_date}}</td>
			<td><button type="button" ng-click="updateemp(employee.id)" class="btn btn-success">Update Details</button></td>
		</tr>
	</table>
</div>
</main>
